body {
  background-image: url('./images/background.jpg');
  background-size: cover;
}
.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}
.slide-parent {
  /* height: 100vh; */
  width: 100%;
  height:81.3vh;
  
}
.view-slide{
  /* height: 78vh; */
  opacity: 0.5;
  width: 90%;
  margin: 0 auto;
  height: 69vh;
  /* border: 2px solid red; */
  position: absolute;
  margin-left: 4.5rem;
  margin-top: 3rem;
  border-radius: 15px;
  background-color: #2C8ACF;
}

.non-opaque-content {
  position: absolute;
  margin-left: 4.5rem;
  margin-top: 3rem;
  border-radius: 15px;
  /* border: 12px solid blue; */
  /* background-color: #2C8ACF; */
  width: 90%;
  z-index: 40;
  color: white;
  height: 69vh;
}
h2 {
  padding: none;
  color: white;
  text-align: center;
  /* height: 0; */
}

/* code isnt dry due to the configuration of swipeable views no ability to abs position */
/* .slide1 {
  position: absolute;
  top: 3rem;
}
.slide2 {
  position: relative;
  top: 3rem;
  left: 8 %;
}
.slide3 {
  position: absolute;
  top: 3rem;
  
} */
/* ////////////navigation \/ //////////////////// */

span {
  font-size: 65px;
}

.nav-parent {
  height: 7rem;
  width: 100%; 
  background-color: white;
  color: #EACC1B;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
.link {
 align-self: center;
 font-size: 24px;
}
.center-link  img{
  /* font-size: 90px; */
  height: 5rem;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}


/* ///////////media queries//////////// */

@media(
  
)
